# cp .env.example .env

TELEGRAM_TOKEN=1234567890:ABCdefGHIjklMNOpqrSTUvwxYZ
MEXC_API_KEY=your_mexc_api_key_here
MEXC_SECRET=your_mexc_secret_here

# whitelist
ADMIN_CHAT_ID=${{ secrets.ADMIN_CHAT_ID }}

ACTIVE_HOURS_START="08:00"
ACTIVE_HOURS_END="21:00"
